.desert {
    -fx-fill: #967117;
}

.hill {
    -fx-fill: #BC4A3C;
}

.mountain {
    -fx-fill: #4E4F55;
}

.forest {
    -fx-fill: #416422;
}

.field {
    -fx-fill: #E4C798;
}

.pastureField {
    -fx-fill: #E0DFD7;
}

.auth-background {
    -fx-text-inner-color: white;
    -fx-background-color: rgba(0,0,0, 0.8);
    -fx-border-color: yellow ;
    -fx-border-width: 0 1 0 1;
}

.auth-button {
    -fx-background-color: rgb(256, 0, 0);
    -fx-border-color: yellow;
    -fx-text-fill: yellow;
    -fx-border-width: 1;
    -fx-pref-width: 100px;
}

.auth-button:hover {
    -fx-background-color: rgb(200, 0, 0);
}

.menu-button {
    -fx-background-color: rgb(256, 0, 0);
    -fx-border-color: yellow;
    -fx-text-fill: yellow;
    -fx-border-width: 1;
    -fx-pref-width: 150px;
}

.menu-button:hover {
    -fx-background-color: rgb(200, 0, 0);
}

.bottom-panel {
    -fx-background-color:  rgb(50, 50, 50);
    -fx-border-width: 2 0 0 0;
    -fx-border-color: gray;
}

.name-text {
    -fx-fill: white;
}

.bottom-panel > .resources-section {
    -fx-border-width: 0 2 0 0;
    -fx-border-color: gray;
}

.game-button {
    -fx-background-color: rgb(70, 70, 70);
    -fx-border-color: gray;
    -fx-text-fill: white;
    -fx-border-width: 1;
    -fx-pref-width: 180px;
}

.game-button:hover {
    -fx-background-color: rgb(90, 90, 90);
}

.right-panel {
    -fx-background-color:  rgb(50, 50, 50);
    -fx-border-width: 0 0 0 2;
    -fx-border-color: gray;
}

.resource-border {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: gray;
}

.longest-road-border {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: gray;
}

.score-border {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: gray;
}

.right-border {
    -fx-border-width: 0 1 0 0;
    -fx-border-color: gray;
}

.player-turn {
    -fx-background-color: rgb(90, 90, 90, 0.5);
}

.result-banner {
    -fx-background-color: rgb(200, 0, 0);
    -fx-border-width: 3 3 3 3;
    -fx-border-color: yellow;
    -fx-min-height: 50px;
}

